body, html {
  overflow-x: hidden;

}


/*nav bar*/
#navegacion{
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(45,57,142);
  background: radial-gradient(circle, rgb(55, 67, 169) 11%, rgb(19, 118, 125) 100%);;
}


.navbar-nav .nav-item .nav-link{
  color: white;
}
.navbar-nav .nav-item .nav-link:hover {
  color: red;
}

/* carousel*/
#demo{
  z-index: 0;
}

.carousel-indicators button.active {
  
  background-color: red;
 }

 .carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: rgb(0, 0, 0);
  background-color: rgba(240, 240, 240, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid rgb(134, 3, 3);

}

.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out .7s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
}


footer{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,44,112,1) 100%);
  bottom: 0;
  left: 0;
  right: 0;
}
#Barra_Footer{
  background: rgb(18,12,124);
  background: linear-gradient(90deg, rgba(18,12,124,1) 0%, rgba(83,20,50,1) 50%, rgba(154,33,33,1) 100%);
  }



#facebook-container {
  overflow-y: scroll;
  height: 600px;  /* Adjust this value to your needs */
}

@media (max-width: 767px) {
  iframe {
      width: min-content;
      display: block;
      overflow: hidden;
  }
#facebook-container{
    width: 200px;
  }
}


/*ANIMATED TEXTO*/

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  height: 300px;
  
}

.ml12 {
  font-weight: 200;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  height:  300px;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}


.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.stadium1 {
  
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./Riders_pic/rider.jpg');
  transition: transform 0.5s;
}

.stadium1:hover {
  transform: scale(0.9);
}

.stadium2 {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./Stadion/stadion_animated2.jpg');
  transition: transform 0.5s;

}

.stadium2:hover {
  transform: scale(0.9);
}

.rider_anime {
  
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./Riders_pic/rider.jpg');
  transition: transform 0.5s;
}

.rider_anime:hover {
  transform: scale(0.9);
}


.container{
  margin-top: 100px;
  margin-bottom: 0%;
  
}








